/virEnv
**/license-plates-recognition/data/
/MiAI_LP_Detection_1
/MiAI_LP_Detection_2
/MiAI_LP_Detection_3
/MiAI_LP_Detection_SVM
/MiAI_LP_Regconition
/yolov8/yolo_data
project-2-at-2024-04-09-17-06-dd0fe6f0.zip
/sign_detect2